{% include 'header.html.twig' %}


<div class="columns">
    <div class="column is-centered" style="margin-top: 40px;">
        <div class="container mt-6">
            {% block main %}{% endblock %}
        </div>
    </div>

</div>

{% include 'footer.html.twig' %}`
