{% extends 'base.html.twig' %}

{% block main %}

<div class="card">
        <header class="card-header">
                <p class="card-header-title">
                       Home
                </p>
        </header>
        <div class="card-content">
                <div class="content">
                        <h1>Paid Time off System</h1>
                        <p>Paid time off system</p>
                        <p>Employee can request for paid time off</p>
                        <h3>Actions</h3>
                        <ul>
                                {% for key, file in actions %}
                                        <li><a href="{{ file }}">{{ key | upper }}</a></li>
                                {% endfor %}
                        </ul>


                </div>
        </div>
</div>

{% endblock %}
